.DS_Store

.circleci
.github
.husky

.editorconfig
.eslintignore
.eslintrc

.gitattributes
.gitignore

# User-defined NPM configuration
.npmrc

# User-defined NVM configuration
.nvmrc

# Deps
.depsrc

# Hooks
.husky/hooks

# Typescript
tsconfig.json
jsconfig.json

# ESLint
eslint.config.*

# Babel
babel.config.*

# Mocha
test
